@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background: linear-gradient(90deg, rgba(2,0,36,1)0%, rgba(75,14,154,1) 35%, rgba(0,212, 255,1) 100%);
	/* background: linear-gradient(to right,#cc2b5e,#753a88); */
	font-family: 'Poppins', sans-serif;
}
.form-login {
	background-color: aliceblue;
	padding: 50px;
	border-radius: 20px;
	width: 35%;

	@media only screen and (max-width: 770px) {
		width: 100%;
	  }
	}

.login-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	margin: 10%;
	background: linear-gradient(90deg, rgba(2,0,36,1)0%, rgba(75,14,154,1) 35%, rgba(0,212, 255,1) 100%);
	border: none;
	border-radius: 50px;
	color: aliceblue;
}
.form-control {
	color: rgba(0,0,0,.87);
	border: none;
	border-bottom-color: rgba(0,0,0,.42);
	box-shadow: none !important;
	border-bottom: 1px solid;
	border-radius: 4px, 4px, 0, 0;
}

.form-title {
	font-size: 2rem !important;
	font-weight: 700;
}
.form-label {
	font-size: 700 !important;
}